@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Habibi&display=swap');
@plugin "daisyui" {
  themes: light --default;
}
*{
    scroll-behavior: smooth;
}
@theme {
    --font-gupter: "Gupter", serif;
    --font-habibi: "Habibi", serif;
    --color-first: #C4A586;
    --color-second: #72696A
}

.button {
    @apply outline-none bg-first lg:px-[70px] px-[40px] lg:py-[30px] py-[15px] text-white hover:border-2 hover:bg-white hover:border-first hover:text-first font-bold hover:transition-all border-2;
}

.nav-item {
    @apply relative after:absolute after:h-[2px] after:w-0 after:bg-black after:bottom-0 after:left-0 hover:after:w-full after:transition-all font-gupter text-[17px] font-bold leading-[100%] tracking-[2%] pb-[6px];
}

.icon-after {
    @apply after:content-[""] after:w-[10px] after:h-[10px] after:bg-[#FE0303] relative after:absolute after:top-[-8px] after:right-[-5px] after:rounded-full;
}

.flex-item {
    @apply justify-between items-center;
}

.h1 {
    @apply font-habibi lg:text-[65px] text-[40px] font-normal lg:leading-[76px] leading-normal tracking-[2%];
}

.p {
    @apply lg:text-xl text-base font-habibi font-normal leading-[28px] tracking-[2%] lg:max-w-[471px] w-full px-1 lg:px-0;
}

.text-typography {
    @apply font-gupter font-semibold lg:leading-[100%] leading-normal lg:tracking-[2px] tracking-normal;
}

.card-body {
    @apply flex-col bg-[#C4A586A1] items-center relative px-[90px] pb-[120px] pt-[80px]
}

.card-title {
    @apply font-habibi text-[22px] leading-[76px] self-start;
}

.card-price {
    @apply gap-10 flex font-gupter font-bold text-lg;
}

.card-button {
    @apply bg-[#D1A070] rounded-3xl py-[22px] px-[35px] flex items-center gap-3 text-base;
}

.card-img {
    @apply w-3/5 absolute top-2/5 left-1/2 -translate-x-1/2 -translate-y-2/6 h-[400px]
}

.carousel-btn {
    @apply p-2 border rounded-full hover:bg-first hover:text-white cursor-pointer transition-all;
}